version: "3"
   
services:

  db:
    image: postgres
    container_name: db

    ports:
      - 5432:5432
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres


  db2:
    image: postgres
    container_name: db2
    volumes:
      - ./data/db2:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    expose:
      - "5433" # Publishes 5433 to other containers but NOT to host machine
    ports:
      - "5433:5433"
    command: -p 5433
  products:
    build: 
      context: .
      dockerfile: products-dockerfile
    container_name: products
    command: bash -c "python ./products/manage.py makemigrations app_products && python ./products/manage.py migrate && python ./products/manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code_products
    ports:
      - "9999:8000"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db

  shopping_cart:
    build: 
      context: .
      dockerfile: shoppingcart-dockerfile
    container_name: shopping_cart
    command: bash -c "python ./shopping_cart/manage.py makemigrations app_sc && python ./shopping_cart/manage.py migrate && python ./shopping_cart/manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code_shopping_cart
    ports:
      - "8000:8000"

